<div class="form-group">
    <label>Position:</label>
    <select class="form-control">
      <option>center</option>
      <option>top</option>
      <option>bottom</option>
      <option>left</option>
      <option>right</option>
    </select>
</div>
