<div class="form-group">
    <label for="sel1">Select one:</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <br>
    <label for="sel2">Make New:</label>
    <select class="form-control" id="sel2">
      <option>Symbol</option>
      <option>Connection</option>
      <option>Grouping</option>
      <option>New</option>
    </select>
</div>

<div [ngStyle]="{'background-color': prope.background_color,
                'color': prope.color,
                'height': prope.height,
                'width': prope.width,
                'border-width': prope.border_width,
                'border-radius': prope.border_radius,
                'font-size': prope.font_size,
                'padding': prope.padding,
                'font-weight': prope.font_weight
              }">
  {{ prope.tag_name | uppercase}}

</div>
