<form class="" action="index.html" method="post">
   <label>Name: <input [(ngModel)] = "prope.tag_name" name="name" class="form-control"></label>
   <label>Color: <input [(colorPicker)]="prope.color" [style.background]="prope.color" class="form-control"></label>
   <!--<label>Color: <input [(ngModel)] = "prope.color" name="color"></label>-->
   <label>Height: <input [(ngModel)] = "prope.height" name="height" class="form-control"></label>
   <label>Width: <input [(ngModel)] = "prope.width" name="width" class="form-control"></label>
   <label>Border-width: <input [(ngModel)] = "prope.border_width" name="border_width" class="form-control"></label>
   <label>Border-radius: <input [(ngModel)] = "prope.border_radius" name="border_radius" class="form-control"></label>
  `<label>Background-color: <input [(colorPicker)]="prope.background_color" [style.background]="prope.background_color" class="form-control"></label>
   <label>Font-size: <input [(ngModel)] = "prope.font_size" name="font_size" class="form-control"></label>
   <label>Font-weight: <input [(ngModel)] = "prope.font_weight" name="font_weight" class="form-control"></label>
   <label>Padding: <input [(ngModel)] = "prope.padding" name="padding" class="form-control"></label>
</form>
<br>
<button type="button" name="button" (click)="sendData(prope)" class="btn btn-success">SAVE</button>
