<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  <!-- <tbody *ngFor="let prop of properties">[property]="prop" -->
      <tr>
        <td>tag_name</td>
        <td>{{ propet.tag_name }}</td>
      </tr>
      <tr>
        <td>color</td>
        <td>{{ propet.color }}</td>
      </tr>
      <tr>
        <td>height</td>
        <td>{{ propet.height }}</td>
      </tr>
      <tr>
        <td>width</td>
        <td>{{ propet.width }}</td>
      </tr>
      <tr>
        <td>border_width</td>
        <td>{{ propet.border_width }}</td>
      </tr>
      <tr>
        <td>border_radius</td>
        <td>{{ propet.border_radius }}</td>
      </tr>
      <tr>
        <td>background_color</td>
        <td>{{ propet.background_color }}</td>
      </tr>
      <tr>
        <td>font_size</td>
        <td>{{ propet.font_size }}</td>
      </tr>
      <tr>
        <td>font-weight</td>
        <td>{{ propet.font_weight }}</td>
      </tr>
      <tr>
        <td>padding</td>
        <td>{{ propet.padding }}</td>
      </tr>
    </tbody>
  </table>
