<div class="container" *ngIf="property != null">
  <div class="row">
    <div class="col-sm-4">
      <app-table-view [propet] = "property"></app-table-view>
    </div>
    <div class="col-sm-4">
      <app-live-view [prope] = "property"></app-live-view>
    </div>

    <div class="col-sm-4">
      <app-cpicker [prope] = "property"></app-cpicker>
      <app-linestyle></app-linestyle>
      <app-position></app-position>
      <app-boolean></app-boolean>
      <app-number></app-number>
      <app-font></app-font>
      <app-text [prope] = "property"></app-text>
    </div>
    <!--<div class="col-sm-4">
      <app-form-view [prope] = "property"></app-form-view>
    </div>-->
  </div>

  <button type="button" name="button2" (click)="getOne('5b69f818cfb7571eb071bf93')" class="btn btn-info">GET ONE</button>
</div>
