<p>Boolean:</p>
<div class="form-check">
  <label class="form-check-label" for="check1">
    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>True
  </label>
</div>
<div class="form-check">
  <label class="form-check-label" for="check2">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">False
  </label>
</div><br>
